In [13]:
# program to reverse a string
def reverse(string):
	string = string[::-1]
	return string

string = "Hey , there"

print( end="")
print(reverse(string))

ereht , yeH

In [35]:
 #check if a string is palindrome
 def is_palindrome(s):
    s = s.lower()
    return s == s[::-1]
print(is_palindrome("nothing is this"))

False

In [36]:
# convert a string to uppercase.
input_str = input("Enter a string:")
uppercased_str = input_str.upper()
print("uppercased string;" , uppercased_str)

Enter a string:hey there
uppercased string; HEY THERE

In [37]:
# convert a string to lowercase.
input_str = input("enter a string:")
lowercassed_str = input_str.lower()
print("lowercase string:" , lowercassed_str)

enter a string:Hi , Dude.
lowercase string: hi , dude.

In [39]:
# count the number of vowels in a string.
def count_vowels(s):
    # at initially
    vowel_count = 0

    s = s.lower()

    vowels = set("aieou")

    for char in s:
        if char in vowels:
            vowel_count += 1

    return vowel_count


input_string = input("enter a string:")
result = count_vowels(input_string)
print("number of vowels:" , result)

enter a string:i dont know
number of vowels: 3

In [40]:
# count the number of consonants in a string.
def count_consonants(s):
    consonant_count = 0

    consonant = "bcdfghjklmnpqrstvwxyz"

    for char in s:
        if char in consonant:
            consonant_count += 1

    return consonant_count


input_string = input("enter a string:")
input_string = input_string.lower()
result = count_consonants(input_string)
print("number of consonants:" , result)

enter a string:I dont know
number of consonants: 6

In [41]:
# remove all whitespace from a string.
def remove_whitespace(s):
    # creating empty stirng to store the resutl.
    result = ""

    for char in s:
        if char != " ":
            result += char

    return result


input_string = input("enter a string:")
output_string = remove_whitespace(input_string)
print(output_string)

enter a string:Hey man   what's up
Heymanwhat'sup

In [55]:
# find the length of a string without using len() funtion.

count_len = 0

input_sting = input("enter a string:")
for char in input_string:

    count_len += 1

print("length of the string is:" , count_len)

enter a string:hjj
length of the string is: 3

In [1]:
# check if a string contain a specific word.
input_string = input("enter a string:")
specific_word = input("enter the spectific word to check for:")

if specific_word in input_string:
    print(f"the string contains the word '{specific_word}.")

else:
    print(f"the string does not contain the word '{specific_word}")

enter a string:what are you up to
enter the spectific word to check for:is
the string does not contain the word 'is

In [2]:
#replace a word in a string with another word.
input_string = input("enter a string:")
old_word = input("enter the word to be replaced in your string:")
new_word = input("enter the new word:")

new_string = input_string.replace(old_word, new_word)
print("new string:" , new_string)

enter a string:how are you man
enter the word to be replaced in your string:man
enter the new word:dude
new string: how are you dude

In [5]:
# count the occurrences of a word in string.
def count_word_occurance(s, target_word):
    word_count = 0

    words = s.split()
    for word in words:
        if word == target_word:
            word_count += 1

    return word_count

s = input("enter a sentence:")
target_word = input("enter a word to count the occurence in the senctence:")

result = count_word_occurance(s, target_word)
print(f"the word {target_word} appears {result} times in the sentence.")

enter a sentence:This code snipped provides a step wise solution and an explanation for counting the occurrences of a specific word in a string
enter a word to count the occurence in the senctence:a
the word a appears 3 times in the sentence.

In [6]:
# find the occurence of a word in a string.
def find_first_occurence(s, word):
    index = s.find(word)

    if index == -1:
        return None

    return index

s = input("enter a sentence:")
word = input("enter the word you want to find the first occurence:")
result = find_first_occurence(s, word)
print("index of the first occurence:", result)

enter a sentence:we use the find method on the text string to find the index of the first occurence
enter the word you want to find the first occurence:the
index of the first occurence: 7

In [7]:
# find the last occurrence of a word in a string.
def find_last_occurence(s, word):
    index = s.rfind(word)

    if index == -1:
        return None

    return index

s = input("enter a sentence:")
word = input("enter the word you want to find the last occurence:")
result = find_last_occurence(s, word)
print("the index of the last occurence:" , result)

enter a sentence:return none if word not found
enter the word you want to find the last occurence:if
the index of the last occurence: 12

In [9]:
#split a string into a list of words.
def split_string_to_words(string):
    words_list = string.split()
    return words_list

string = input("enter a string that you want to split:")
words = split_string_to_words(string)
print("words in the list are:" , words)

enter a string that you want to split:hey man are you crazy
words in the list are: ['hey', 'man', 'are', 'you', 'crazy']

In [11]:
#Join a list of words into a string.
def words_to_string(word_list):
    string = ' '.join(word_list)

    return string

word_list = ["hey","man","what","are"]
text = words_to_string(word_list)
print("joined string:",text)

joined string: hey man what are

In [1]:
# convert a string where words are separated by spaces to one where words are separated by underscores.
def spaces_replaces_to_underscores(text):
    underscore_text = text.replace(" ","_")
    return underscore_text

text = input("enter the sentence:")
result = spaces_replaces_to_underscores(text)
print("converted text:", result)

enter the sentence:returning the converted string after replacing the spaces.
converted text: returning_the_converted_string_after_replacing_the_spaces.

In [2]:
# check if a string starts with a specific word or phrase.
def starts_with(text, s_word):
    is_start = text.startswith(s_word)
    return is_start

text = input("enter the text:")
s_word = input("enter the specific word:")
result = starts_with(text, s_word)
if result:
    print("the text starts with the prefix")
else:
    print("the text doesn't starts with the specific word.")

enter the text:hi dude , what are you doing
enter the specific word:dude
the text doesn't starts with the specific word.

In [6]:
# check if a string ends with a specific word or phrase.
def ends_with(text, s_word):
    is_end = text.endswith(s_word)

    return is_end

text = input("enter the text:")
s_word = input("enter the specific word:")
result = ends_with(text, s_word)
if result:
    print(f"the string ends with the {s_word}")
else:
    print(f"the string doesn't end with the {s_word}")

enter the text:nothing is right
enter the specific word:is
the string doesn't end with the is

In [8]:
#convert a string to title case.
string = input("enter the string:")
string = string.title()
print("title case", string)

enter the string:hey there
title case Hey There

In [11]:
# find the longest word in the string.
def find_longest_words(string):
    words = string.split()

    longest_word = ""
    max_length = 0

    for word in words:
        if len(word) > max_length:
            max_lenght = len(word)
            longest_word = word

    return longest_word

string = input("enter the string:")
longest_word = find_longest_words(string)
print("longest word in the string:", longest_word)

enter the string:define the function
longest word in the string: function

In [1]:
# find the shortest word in a string.
def shortest_word(text):
    words = text.split()

    shortest_word = None
    min_length = float('inf')

    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    return shortest_word

text = input("enter a string:")
shortest_word = shortest_word(text)
print("shortest word:", shortest_word)

enter a string:find the shortest word in a string
shortest word: a

In [4]:
# reverse the order of words in a string.
def reverse_sentence(string):
     words = string.split(' ')

     reverse_sentence = ' '.join(reversed(words))

     return reverse_sentence

if __name__ == "__main__":
    string = "hey what's up"
    print(reverse_sentence(string))

up what's hey

In [8]:
#check if a string is alphanumeric.
def isalphanumeric(text):
    return text.isalnum()

text = "hey dude"
result = isalphanumeric(text)
if result:
    print("the string is alphanumeric")
else:
    print("the string is not alphanumeric")

the string is not alphanumeric

In [9]:
# extract all digits from a string.
def extract_digits(text):
    digits = ""

    for char in text:
        if char.isdigit():
            digits += char

    return digits

text = "hi 66 you made to top 10"
digits = extract_digits(text)
print("extreacted_digits are:", digits)

extreacted_digits are: 6610

In [10]:
#extract all alphabets from a string.
def extract_alphabets(text):
    alphabets = ' '.join([char for char in text if char.isalpha()])
    return alphabets

text = "hi3d9unl3"
result = extract_alphabets(text)
print(result)

h i d u n l

In [1]:
# count the number of uppercase letters in a string.
def count_uppercase(string):
    uppercase_count = sum(1 for char in string if char.isupper())
    return uppercase_count

string = "HeY Dude"
result = count_uppercase(string)
print("number of uppercase letters in string :" , result)

number of uppercase letters in string : 3

In [2]:
# count the number of lowercase letters in a string.
def count_lowercase(string):
    lowercase_count = sum(1 for char in string if char.islower())
    return lowercase_count

string = "HeY dude"
result = count_lowercase(string)
print("the number of lowercase letters in string is:", result)

the number of lowercase letters in string is: 5

In [3]:
# swap the case of each character in a string.
string = input("enter a string:")
string = string.swapcase()
print(string)

enter a string:Hey Dude
hEY dUDE

In [5]:
# remove a specific word from a string.
def remove_sword(string, word_to_remove):
    words = string.split()
    filtered_words = [word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_words)
    return modified_string

string = input("enter a string:")
word_to_remove = input("enter a word that you want to remove from the string:")
result = remove_sword(string, word_to_remove)
print(result)

enter a string:there is a function to remove
enter a word that you want to remove from the string:remove
there is a function to

In [9]:
#check if a string is a valid email address.
import re

def valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+s'
    if re.match(pattern , email):
        return True
    else:
        return False

email1 = "abcd.email.com"
email2 = "abcd.email"
result1 = valid_email(email1)
result2 = valid_email(email2)
print(result1)
print(result2)

False
False

In [10]:
# Extract the username from an email address string.
def extract_username(email):
    username = email.split('@')[0]
    return username

email = "abcd@gmail.com"
result = extract_username(email)
print("username from email address is:", result)

username from email address is: abcd

In [11]:
# Extract the domain name from an email address string.
def extract_domain(email):
    domain = email.split('@')[1]
    return domain

email = "abcd@email.com"
result = extract_domain(email)
print("domain name of email is:", result)

domain name of email is: email.com

In [13]:
# Replace multiple spaces in a string with a single space.
def rm_multiplespace(string):
    rmd_sting = ' '.join(string.split())
    return rmd_sting

string = "hi   dude  ehat you"
result = rm_multiplespace(string)
print(result)

hi dude ehat you

In [14]:
#check if a string is a valid url.
from urllib.parse import urlparse
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

url1 = "https://www.abcd.com"
url2 = "abcd-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

In [15]:
# extract the protocol(http or https) from a URL string.
def extract_protocol(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url1 = "http://www.abcd.com"
url2 = "https://www.abcd.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)

print(protocol1)
print(protocol2)

http
https

In [3]:
# find the frequency of each character in a string.
def character_frequency(string):
    frequency= {}

    for char in string:
        if char in frequency:
            frequency[char] +=1
        else:
            frequency[char] = 1


    return frequency

string = "hey there"

char_freq = character_frequency(string)

for char, freq in char_freq.items():
    print(f"character: '{char}', frequency: {freq}")

character: 'h', frequency: 2
character: 'e', frequency: 3
character: 'y', frequency: 1
character: ' ', frequency: 1
character: 't', frequency: 1
character: 'r', frequency: 1

In [9]:
# remove all punctuation from a string.
import string

def rm_punctua(input_string):
    translator = str.maketrans("", "", string.punctuation)

    clean_string = input_string.translate(translator)

    return clean_string

input_str = "Hi , dude . What's up?"

cleaned_str = rm_punctua(input_str)
print("original string:", input_str)
print("cleaned string:", cleaned_str)

original string: Hi , dude . What's up?
cleaned string: Hi  dude  Whats up

In [10]:
# Check if a string contains only digit.
def only_digits(string):
    return string.isdigit()

string1 = "454"
string2 = "aber45"

result1 = only_digits(string1)
result2 = only_digits(string2)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)

'454' contains only digits: True
'aber45' contains only digits: False

In [11]:
# check if a string contains only alphabets.
def only_alphabets(string):
    return string.isalpha()

string1 = "hi"
string2 = "hi45"

result1 = only_alphabets(string1)
result2 = only_alphabets(string2)

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)

'hi' contains only alphabets: True
'hi45' contains only alphabets: False

In [13]:
# convert a string to a list of characters.
def string_to_list(string):
    char_list = list(string)
    return char_list

string = "Hi , there."

char_list = string_to_list(string)

print("original string:", string)
print("list of characters:", char_list)

original string: Hi , there.
list of characters: ['H', 'i', ' ', ',', ' ', 't', 'h', 'e', 'r', 'e', '.']

In [15]:
# Check if two strings are anagrams.
def anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

string1 = "hello"
string2 = "hi"

result1 = anagrams(string1, string2)

print(f"'{string1}' and '{string2}' are anagrams:", result1)

'hello' and 'hi' are anagrams: False

In [16]:
# Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
    encoded_text = ""

    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) %26 +ord('a'))
        else:
            encoded_char = char

        encoded_text += encoded_char
    return encoded_text

text = "Hi , dude"
shift = 4

encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: fm , hyhi

In [19]:
# Decode a Caesar cipher encoded string.
def caesar_decoder(text, shift):
    decoded_text = ""

    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 +ord('a'))

        else:
            decoded_char = char

        decoded_text += decoded_char

    return decoded_text

text = "fm , hyhi"
shift = 4
decoded_text = caesar_decoder(text, shift)
print("decoded text:", decoded_text)

decoded text: bi , dude

In [20]:
# Find the most frequend word in a string.
import re
from collections import Counter

def most_frequent_word(input_string):
    #remove puntuation && convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = clean_string.split()

    word_counter = Counter(words)

    most_common_word = word_counter.most_common(1)[0][0]


    return most_common_word

input_string = "we import the re module for the regular."
most_common = most_frequent_word(input_string)
print("most frequent word:", most_common)

most frequent word: the

In [21]:
# Find all unique words in a string.
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = set(clean_string.split())

    return words

input_string = "we import the re module for regular expression"

unique_word = unique_words(input_string)
print("unique words:", unique_word)

unique words: {'regular', 'expression', 'the', 're', 'for', 'import', 'we', 'module'}

In [22]:
# count the number of syllables in a string.
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+',word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "hi"
word2 = "nothing"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")

'hi' has 1 syllables.
'nothing' has 2 syllables.

In [24]:
# Check if a string contains any special characters.
import re

def s_character(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)

string1 = "hi , there!"
string2 = "no."

result1 = s_character(string1)
result2 = s_character(string2)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' conatins special characters:", result2)

'hi , there!' contains special characters: True
'no.' conatins special characters: True

In [28]:
# Remove the nth word from a string.
def remove_nth_word(input_string, n):
    words = input_string.split()

    if n>= 1 and n<= len(words):

        removed_word = words.pop(n -1)

        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None


input_string = "Remove the nth word from a string."
n_value = 2

modified_str, removed_word = remove_nth_word(input_string, n_value)

print("original string:", input_string)
if modified_str is not None:
      print("modified string:", modified_str)
      print("removed word:", removed_word)
else:
      print("invalid n value.")

original string: Remove the nth word from a string.
modified string: Remove nth word from a string.
removed word: the

In [32]:
# Insert a word at the nth position in a string.
input_string = "what you doing?"
add_string = "are"

N = 8
result = input_string[ : N] + add_string + input_string[N : 1]
print("the string after inserting word:" +str(result))

the string after inserting word:what youare

In [35]:
# Convert a CSV string to a list of lists.
def csvstring_tolist(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')
        result.append(fields)

    return result

csv_data = "hi, bi ,5, not"
list_of_lists = csvstring_tolist(csv_data)

for row in list_of_lists:
    print(row)

['hi', ' bi ', '5', ' not']

In [22]:
# Create a list with integers from 1 to 10,
list1 = [i for i in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
#Find the length of a list wihtout using the len() function,
def count_length(list2):
    count = 0
    for _ in list:
        count += 1
    return count

list2 = [2,45,64,64]
lenght = count_length(list2)
print("length of the list:", lenght)

length of the list: 7

In [24]:
# Append an element to the end of a list.
list3 = [4,5,34,66]
new_element = 6
list.append(new_element)
print(list3)

[4, 5, 34, 66]

In [25]:
#Insert an element at a specific index in a list.
list4 = [2,5,6,7]
new_element = 8
where_insert = 4
list4.insert(where_insert, new_element)
print(list4)

[2, 5, 6, 7, 8]

In [29]:
# Remove an element from a list by its value.
list1 = [2,3,4,5]
list1.remove(2)
print(list)

[2, 3, 4, 4, 6, 7, 7, 6]

In [51]:
#Remove an element from a list by its index.
motor = ['bmw','toyota','tata']
index_to_remove = 1
rmd_element = motor.pop(index_to_remove)
print(motor)

['bmw', 'tata']

In [52]:
# check if an element exist in a list.
motor = ['bmw','toyota','tata']
element = 'tata'
if element in motor:
    print(f"'{element}' present in the list:")
else:
    print(f"'{elemen}' doesn't present in the list:")

'tata' present in the list:

In [53]:
# Find the index of the first occurrence of an element in a list.
motor = ['bmw','toyota','tata']
element_to_find = 'toyota'
index = motor.index(element_to_find)
print(f"the index of '{element_to_find}' is {index}")

the index of 'toyota' is 1

In [54]:
# count the occurrence of an element in a list.
motor = ['bmw','toyota','tata']
element_to_count = 'tata'
count = motor.count(element_to_count)
print(f"occurrence of {element_to_count} is {count}")

occurrence of tata is 1

In [55]:
# Reverse the order of elements in list.
motor = ['bmw','toyota','tata']
motor.reverse()
print("reversed list :", motor)

reversed list : ['tata', 'toyota', 'bmw']

In [2]:
# sort a list in ascending order.
motor = ['bmw','toyota','tata']
motor.sort()
print(motor)

['bmw', 'tata', 'toyota']

In [4]:
# sort a list in descending order.
motor = ['bmw','toyota','tata']
motor.sort(reverse=True)
print(motor)

['toyota', 'tata', 'bmw']

In [6]:
# create a list of even numbers from1 to 20.
even_number = [i for i in range(2, 21, 2)]

print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
# create a list of odd numbers from 1 to 20.
odd_number = [i for i in range(1, 21, 2
                               )]
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
# Find the sum of all elements in a list.
list1 = [3,5,3]
sum = sum(list1)
print("sum of elements in the lsit:", sum)

sum of elements in the lsit: 11

In [28]:
# find the maximum value in a list.
list1 = [3,5,5,2,6]
max_value = max(list1)
print("maximum value in the list:", max_value)

maximum value in the list: 6

In [27]:
# find the minimum value in the list.
list1 = [3,5,2]
min_value = min(list1)
print("minimum value in the list:", min_value)

minimum value in the list: 2

In [12]:
# create a list of squares of numbers from 1 to 10.
square = [i ** 2 for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# create a list of random numbers.
import random

random_numbers = [random.randint(1, 100) for _ in range(10)]
print("list of random numbers:", random_numbers)

list of random numbers: [5, 12, 85, 87, 88, 69, 57, 62, 90, 51]

In [32]:
# remove duplicates from a list.
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
print("The original list is : "
	+ str(test_list))

res = []
[res.append(x) for x in test_list if x not in res]

print ("The list after removing duplicates : "
	+ str(res))

The original list is : [1, 3, 5, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [2]:
# find the common elements between two lists.
list1 = [1,3,4.6]
list2 = [2,3,7]
common_elements = list(set(list1).intersection(list2))
print(common_elements)

[3]

In [3]:
# find the difference between two lists.
list1 = [2,4,5]
list2 = [3,4,5]
difference = list(set(list1).difference(list2))
print(difference)

[2]

In [4]:
# merge two lists.
list1 = [2,4,5]
list2 = [3,4,5]
merged_list = list1 + list2
print(merged_list)

[2, 4, 5, 3, 4, 5]

In [5]:
# multiply all elements in a list by 2.
list1 = [2,3,4]
multiplied_list = [i * 2 for i in list1]
print(multiplied_list)

[4, 6, 8]

In [6]:
# filter out all even numbers from a list.
list1 = [1,2,3,4,5,6,7,7]
new_list = [i for i in list1 if i % 2 != 0]
print(new_list)

[1, 3, 5, 7, 7]

In [7]:
# convert a list of strings to a list of integers.
list1 = ["3","4","6"]
int_list = [int(i) for i in list1]
print("list of integers:", int_list)

list of integers: [3, 4, 6]

In [8]:
# convert a list of integers to a list of strings.
int_list = [3,5,6]
str_list = [str(i) for i in int_list]
print("list of intergers:", str_list)

list of intergers: ['3', '5', '6']

In [1]:
# flatten a nested list.
nested_list = [[3,4], [45,34]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("flattend list:", flattened_list)

flattend list: [3, 4, 45, 34]

In [2]:
# create a list of the first 10 fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = [0, 1]

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next-fibonacci)

    return fibonacci_list

fibonacci_number = generate_fibonacci(2)

print("first 10 fibonacci numbers:", fibonacci_number)

first 10 fibonacci numbers: [0, 1]

In [3]:
# check if a list is sorted.
def is_sorted(lst):
    for i in range(1,len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [1,2,3,4,5]

if is_sorted(ascending_list):
    print("list is sorted in ascending order:")
else:
    print("list is not sorted in ascending order.")

list is sorted in ascending order:

In [6]:
# rotate a list to the left by n positions.
def rotate_left(lst, n):
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

list1 = [1,2,3]

n = 3
rotated_list = rotate_left(list1, n)
print("rotated list:",
      rotated_list)

rotated list: [1, 2, 3]

In [7]:
# rotate a list to the right by n positions.
def rotate_right(lst, n):
    n = n % len(lst)
    rotated = lst[-n:] +lst [:-n]
    return rotated

list1 = [2,3,5]
n = 2
rotated_list = rotate_right(list1, n)
print("rotated list to right", rotated_list)

rotated list to right [3, 5, 2]

In [9]:
# Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
       print(i,num)
       if num % i == 0 or num % (i + 2) == 0:
           return False
       i += 6
    return True

prime_numbers = [num for num in range(2,30) if is_prime(num)]

print("list of prime numbers up to 50:", prime_numbers)

5 25
5 29
list of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [11]:
# split a list into chunks of size n.
my_list = [2,4,6,7,4,7,3,2,1,6,7,8,7,6,4]
def divide_chunks(l, n):

    for i in range(0, len(l), n):
        yield l[i:i + n]

n =4
result = list(divide_chunks(my_list, n))
print(result)

[[2, 4, 6, 7], [4, 7, 3, 2], [1, 6, 7, 8], [7, 6, 4]]

In [12]:
# find the second largest number in a list.
my_list = [2,3,5,6,6,7]
sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("second largest number:", second_largest)
else:
    None

second largest number: 6

In [13]:
#replace every element in a list with its square.
lisst = [2,3,5,6]
squared_list = [i ** 2 for i in lisst]
print("squared_list", squared_list)

squared_list [4, 9, 25, 36]

In [14]:
# convert a list to a dictionary where list elements become keys and their indices become values.
motor = ['bmw','toyota','ford','tata']
my_dict = {element: index for index, element in enumerate(motor)}
print("converted list to dictionary:", my_dict)

converted list to dictionary: {'bmw': 0, 'toyota': 1, 'ford': 2, 'tata': 3}

In [15]:
# shuffle the elements of a list randomly.
import random
lisst = [1,2,3,4,5,6,7,8,89]
random.shuffle(lisst)
print("shuffled list:", lisst)

shuffled list: [6, 7, 2, 4, 3, 1, 5, 89, 8]

In [16]:
# create a list of first 10 factorial numbers.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_number = [factorial(i) for i in range(10)]
print("list of first 10 factorial numbers:", factorial_number)

list of first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [18]:
# check if two lists have at least one element in common.
def common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [2,3,5]
list2 = [3,7,7]
if common_element(list1, list2):
    print("lists have at least one common element:")
else:
    print("lists do no have have any commom element:")

lists have at least one common element:

In [19]:
# remove all elements form a list.
lisst = [2,3,5,6]
lisst.clear()
print(lisst)

[]

In [21]:
# replce negative numbers in a list with 0.]
lisst = [3,6,7,-4]
for i in range(len(lisst)):
    if lisst[i] < 0:
        lisst[i] = 0

print("list without negative numbers:",lisst)

list without negative numbers: [3, 6, 7, 0]

In [22]:
# convert a string into list of words.
string = "hey man , what's up."
word_list = string.split()
print("list of words:", word_list)

list of words: ['hey', 'man', ',', "what's", 'up.']

In [23]:
# comvert a list of words into string.
word_list = ["hey","man", ',',"what's","up."]
string = " ".join(word_list)
print(string)

hey man , what's up.

In [24]:
#Create a list of first n powers of 2.
n = 8
power_list = [2 ** i for i in range(n)]
print("list of first",n,"owers of 2:",power_list)

list of first 8 owers of 2: [1, 2, 4, 8, 16, 32, 64, 128]

In [25]:
#find the longest string in a list of strings.
string = ["bmw","tata","toyota"]
longest_string = ""
for i in string:
    if len(i) > len(longest_string):
        longest_string = i

print("longest string:", longest_string)

longest string: toyota

In [32]:
# find the shortest string in a list of strings.
string = ["bmw","tata","toyota"]
shortest_string = string[0]
for s in string:
    if len(s) < len(shortest_string):
        shortest_string = s

print("shortes string:", shortest_string)

shortes string: bmw

In [33]:
# create a list of the first n triangular numbers.
def triangular_number(n):
    return [i * (i + 1) // 2 for i in range (1, n + 1)]
n = 4
triangular_list = triangular_number(n)
print("list of first",n,"triangular numbers:", triangular_list)

list of first 4 triangular numbers: [1, 3, 6, 10]

In [35]:
# check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8]
subsequence = [3, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list has the subsequence.")
else:
    print("Main list do not have the subsequence.")

Main list has the subsequence.

In [36]:
# swap two elements in a list by their indices.
lisst = [2,3,4]
index1 = 1
index2 = 2
temp = lisst[index1]
lisst[index1] = lisst[index2]
lisst[index2] = temp

print(lisst)

[2, 4, 3]

In [39]:
# create a tuple with integers from 1 to 5.
tupple = tuple(range(1,6))
print(tupple)

(1, 2, 3, 4, 5)

In [40]:
# access the third element of tuple.
tupple = (1,2,3,4,50)
third_element = tupple[2]
print("third elment of tuple is:", third_element)

third elment of tuple is: 3

In [41]:
# find the lenth of tuple without using the len() function.
tupple = (2,3,4,50)
count = 0
for _ in tupple:
    count += 1

print("lenth of tuple:", count)

lenth of tuple: 4

In [42]:
# count the occurrences of an element in a tuple.
tupple = (3,5,66,6,7,8,9,9)
element_to_count = 9
count = 0
for item in tupple:
    if item == element_to_count:
        count +=1

print(f"the element {element_to_count} appears {count} times in the tuple.")

the element 9 appears 2 times in the tuple.

In [43]:
# find the index of the first occurrence of an element in a tuple.
tupple = (3,5,6,7,3)
element_to_find = 3
index = -1
for i, item in enumerate(tupple):
    if item == element_to_find:
        index = i
        break
if index != -1:
    print(f"the first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple")

the first occurrence of 3 is at index 0.

In [45]:
# check if an element exists in a tuple.
tupple = (3,4,6)
element_to_check = 4
if element_to_check in tupple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple>")

4 exists in the tuple.

In [46]:
# convet a tuple to a list.
tupple = (3,5,6)
lisst = list(tupple)
print(lisst)

[3, 5, 6]

In [47]:
# convet a list to a tuple.
lisst = [3,5,3]
tupple = tuple(lisst)
print (tupple)

(3, 5, 3)

)

In [48]:
# unpack the elements of a tuple into variables.
tupple = (3,5,6)
var1, var2, var3 = tupple
print("var1",var1)
print("var2",var2)
print("var3",var3)

var1 3
var2 5
var3 6

In [49]:
# creata a tuple of even numbers form 1 to 10.
even_list = [num for num in range(2,11,2)]
even_tuple = tuple(even_list)
print("tuple of even numbers :", even_tuple)

tuple of even numbers : (2, 4, 6, 8, 10)

In [50]:
# create a tuple of odd numbers from 1 to 10.
odd_list = [num for num in range(1,11,2)]
odd_tuple = tuple(odd_list)
print("tuple of odd numbers :", odd_tuple)

tuple of odd numbers : (1, 3, 5, 7, 9)

In [51]:
# concatenate two tuples.
tuple1 = (3,5)
tuple2 = (4,6)
con_tuple = tuple1 + tuple2
print("concatened tuple:", con_tuple)

concatened tuple: (3, 5, 4, 6)

In [52]:
# repeat a tuple three times.
tupple = (3,4)
tupple = tupple * 3
print(tupple)

(3, 4, 3, 4, 3, 4)

In [54]:
# check if a tuple is empty.
empty_tuple = ()
nonempty_tuple = (3,5)

if not empty_tuple:
    print("the empty_tuple is empty:")
else:
    print("the empty_tuple is not empty:")

if not nonempty_tuple:
    print("the nonempty_tuple is empty.")

else:
    print("the nonempty_tuple is not empty.")

the empty_tuple is empty:
the nonempty_tuple is not empty.

In [55]:
# create a nested tuple.
tupple = ((3,5), ("sdf","dfd"))
print("nested tuple:", tupple)

nested tuple: ((3, 5), ('sdf', 'dfd'))

In [56]:
# access the first element of a nested tuple.
tupple = ((3,5), ("sdf","dfd"))
ist_element = tupple[0]
print("the first element of nested tuple:", ist_element)

the first element of nested tuple: (3, 5)

In [57]:
#create a tuple with single element.
tupple = (4,)
print("single elemented tupple:", tupple)

single elemented tupple: (4,)

In [58]:
# compare two tuples.
tuple1 = (4,6,7)
tuple2 = (3,5,6)

print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: False
tuple1 <= tuple2: False
tuple1 > tuple2: True
tuple1 >= tuple2: True

In [59]:
# delete a tuple.
tupple = (4,5,3)
del tupple
print(tupple)

NameError: ignored

In [60]:
# slice a tuple.
tupple = (34,5,6,3,6,2)
sliced_tuple = tupple[1:3]
print("sliced tuple",sliced_tuple)

sliced tuple (5, 6)

In [61]:
# find the maximum value in a tuple.
tupple = (3,5,6)
max_value = max(tupple)
print("max value in tuple:", max_value)

max value in tuple: 6

In [62]:
# find the minimun value in a tuple.
tupple = (3,5,6)
min_value = min(tupple)
print("minimum value in the tuple:", min_value)

minimum value in the tuple: 3

In [63]:
# comvet a string to a tuple of characters.
string = "Hey, dude."
tupple = tuple(string)
print("tuple of characters:",tupple)

tuple of characters: ('H', 'e', 'y', ',', ' ', 'd', 'u', 'd', 'e', '.')

In [65]:
# comvet a tuple to string of characters.
tupple = ("hey","dude.")
string = "".join(tupple)
print("string of characters:",string)

string of characters: heydude.

In [66]:
# create a tuple from multiple data types.
tupple = (2,"hi",3.3)
print(tupple)
1/2
(__stop: SupportsIndex, /) -> None

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is g

(2, 'hi', 3.3)

In [67]:
# check if two tuples are identical.
tuple1 = (3,4)
tuple2= (3,5)
if tuple1 == tuple2:
    print("both tuples are identical.")
else:
    print("both tuples are non identical.")

both tuples are non identical.

In [68]:
# sort the elements of a tuple.
tupple = (3,5,6)
sorted_tuple = tuple(sorted(tupple))
print("sorted tuple", sorted_tuple)

sorted tuple (3, 5, 6)

In [70]:
# comvert a tuple of integers to a tuple of strings.
tupple = (3,5,6)
stringedtuple = tuple(str(item) for item in tupple)
print("tuple of string:", stringedtuple)

tuple of string: ('3', '5', '6')

In [71]:
# comvert a tuple of strings to a tuple of integers.
stringedtuple = ('3','4','6')
tupple = tuple(int(item) for item in stringedtuple)
print("tuple of integers:", tupple)

tuple of integers: (3, 4, 6)

In [72]:
# merge two tuples.
tuple1 = (3,5)
tuple2 = (1,2)
merged_tuple = tuple1 + tuple2
print("merged tuple:", merged_tuple)

merged tuple: (3, 5, 1, 2)

In [74]:
# flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((3,5),(3,6))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("flattened tuple:", flattened_tuple)

flattened tuple: (3, 5, 3, 6)

In [78]:
# create a tuple of first 5 prime numbeers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_number = [num for num in range(2,100) if is_prime(num)][:5]

prime_numbertuple = tuple(prime_number)

print("tuple of first 5 prime number:", prime_numbertuple)

tuple of first 5 prime number: (2, 3, 5, 7, 11)

In [79]:
#check if tuple is palindrome.
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [81]:
# create a tuple of squares of numbers from 1 to 5.
tupple = tuple(i ** 2 for i in range(1,6))
print("tuple of squares of number form 1 to 5:",tupple)

tuple of squares of number form 1 to 5: (1, 4, 9, 16, 25)

In [82]:
# filter out all even number from a tuple.
tupple = (1,2,3,4,5,6)
odd_tuple = tuple(num for num in tupple if num % 2  != 0)
print("filtered tuple form even number:",odd_tuple)

filtered tuple form even number: (1, 3, 5)

In [84]:
# multiply all elements in tuple by 2.
tupple = (3,5,6,6)
tupple2 = tuple(num * 2 for num in tupple)
print("tuple after multiplied all elements by 2:", tupple2)

tuple after multiplied all elements by 2: (6, 10, 12, 12)

In [85]:
# create a tuple of random numbers.
import random
tupple = tuple(random.randint(1,100) for _ in range(10))
print("random tuple", tupple)

random tuple (12, 65, 84, 93, 73, 62, 56, 66, 28, 3)

In [86]:
# check if a tuple is sorted.
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [88]:
# rotate a tuple to the left by n positions.
def rotate_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

tupple = (2,3,5,6)
n = 2
result = rotate_left(tupple, n)
print(result)

(5, 6, 2, 3)

In [89]:
# rotate a tuple to the right by n positions.
def rotate_right(tup,n):
    n = n % len(tup)
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

tupple = (2,3,5)
n = 2
result = rotate_right(tupple,n)
print(result)

(3, 5, 2)

In [90]:
# create a tuple of first 5 fibonacci numbers.
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)
fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [91]:
# create a tuple from user input.
input_string = input("enter elements separated by commas:")
input_list = input_string.split(',')
user_tuple = tuple(input_list)
print(user_tuple)

enter elements separated by commas:d,e
('d', 'e')

In [92]:
# swap two elements in a tuple.
tupple = (2,3,5,6)
index1 = 1
index2 = 3
swapped_tupple = tuple(
    tupple[i] if i not in (index1, index2) else
    tupple[index2] if i == index1 else
    tupple[index1]
    for i in range(len(tupple))
)

print("swapped tuple:", swapped_tupple)

swapped tuple: (2, 6, 5, 3)

In [93]:
# reverse the elements of a tuple.
tupple = (3,5,6)
rev_tuple = tupple[::-1]
print("reversed tuple:", rev_tuple)

reversed tuple: (6, 5, 3)

In [94]:
# create a tuple of the first n powers of 2.
n = 3
power_tuple = tuple(2 ** i for i in range(n))
print(power_tuple)

(1, 2, 4)

In [95]:
#find the longest string in a tuple of stirngs.
motor = ("bmw","toyota","tata")
longest_string = max(motor, key=len)
print("longest string:", longest_string)

longest string: toyota

In [96]:
# find the shortest string in a tuple of strings.
motor = ("bmw","toyota","tata")
shortes_string = min(motor, key=len)
print("shortes string:", shortes_string)

shortes string: bmw

In [97]:
# create a tuple of first n triangular numbers.
n = 3
tri_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n+1))
print("tuple of the first",n,"triangular numbers:",tri_tuple)

tuple of the first 3 triangular numbers: (1, 3, 6)

In [98]:
# check if a tuple contians another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: False

In [100]:
# create a tuple of alternating 1s and 0s of lenth n.
n = 8
alternating_tuple = tuple(i % 2 for i in range(n))
print("tuple of alternating 1s and 0s:", alternating_tuple)

tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1)

In [101]:
# create a set with integers from 1 t0 5.
sett = set(range(1,6))
print(sett)

{1, 2, 3, 4, 5}

In [104]:
# add an element to a set.
sett = {3,5,6}
print("originals  set:", sett)
element = 1
sett.add(element)
print(sett)

originals  set: {3, 5, 6}
{1, 3, 5, 6}

In [105]:
# remove an element from an set.
sett = {3,4,5,3}
rm_element = 3
sett.remove(rm_element)
print(sett)

{4, 5}

In [106]:
# check if an element exists in a set.
sett = {3,5,6,6}
element = 4
if element in sett:
    print("element exist in set:")
else:
    print("element does not exist in set")

element does not exist in set

In [107]:
# find the lenght of set without using the len() function.
sett = {2,3,5,6}
count = 0
for _ in sett:
    count += 1

print("lenth of set:", count)

lenth of set: 4

In [109]:
# clear all elements from a set.
sett = {3,6,7}
sett.clear()
print(sett)

set()

In [110]:
# create a set of even numbers from 1 to 10
even_set = set()
for num in range(1,11):
    if num % 2 == 0:
        even_set.add(num)

print(even_set)

{2, 4, 6, 8, 10}

In [111]:
# create a set of odd number from 1 to 10.
odd_set = set()
for num in range(1,11):
    if num % 2 !=  0:
        odd_set.add(num)
print(odd_set)

{1, 3, 5, 7, 9}

In [112]:
# find the union of two sets.
set1 = {3,5,6}
set2 = {3,7,8}
union_set = set1.union(set2)
print("union of 2 set:", union_set)

union of 2 set: {3, 5, 6, 7, 8}

In [113]:
# find the intersection of two sets
set1 = {3,5,6}
set2 = {3,7,8}
intersection_set = set1.intersection(set2)
print("intersectin of two set:", intersection_set)

intersectin of two set: {3}

In [114]:
# find the difference between two sets.
set1 = {3,5,6}
set2 = {3,7,8}
diff_set = set1.difference(set2)
print("difference btw two set is:", diff_set)

difference btw two set is: {5, 6}

In [115]:
# check if a set is a subset of another set.
set1 = {3,5,6}
set2 = {3,7,8}
sub_set = set1.issubset(set2)
print("is set1 subset of set:", sub_set)

is set1 subset of set: False

In [116]:
# check if a set is a superset of another set.
set1 = {3,5,6}
set2 = {3,7,8}
super_set = set1.issuperset(set2)
if super_set:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is not a superset of set2

In [117]:
# create a set from a list.
lisst = [3,4,5]
sett = set(lisst)
print(sett)

{3, 4, 5}

In [118]:
# convert a set to a list.
sett = (3,6,7)
lisst = list(sett)
print(lisst)

[3, 6, 7]

In [121]:
# remove a random element from a set.
import random
sett = {3,6,7}
random_element = random.choice(list(sett))
sett.remove(random_element)
print("set after removing random element:", random_element,sett)

set after removing random element: 7 {3, 6}

In [122]:
# pop an element from a set.
sett ={3,6,3}
ppd_elmt = sett.pop()
print(sett
      )

{6}

In [123]:
# check if two sets have no elements in common.
set1 = {3,5,6}
set2 = {3,7,8}
common_elmt = set1.intersection(set2)
if not common_elmt:
    print("sets have no common element")
else:
    print("sets have common element:", common_elmt)

sets have common element: {3}

In [124]:
# find the symmetric difference btw two sets.
set1 = {3,5,6}
set2 = {3,7,8}
sym_diff = set1 ^ set2
print("symmetric difference :", sym_diff)

symmetric difference : {5, 6, 7, 8}

In [125]:
# update a sset with elements from another set.
set1 = {3,6}
set2 = {5,7}
set1.update(set2)
print(set1)

{3, 5, 6, 7}

In [ ]:
# create a set of first 5 prime number.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()

num = 2

while len(prime_set) < 5:

    if is_prime(num):

        prime_set.add(num)
    num += 1
print("set of first 5 prime number:", prime_set)

In [141]:
# check if two sets are identical.
set1 = {3,5,6}
set2 = {3,4,6}
if set1 == set2:
    print("both are indentical:")

else:
    print("both are not identical")

both are not identical

In [142]:
# create a frozen set.
element = [3,6,6,4]
frozen_set = frozenset(element)
print(frozen_set)

frozenset({3, 4, 6})

In [143]:
# check if a set is disjoint with another set.
set1 = {3,5,6}
set2 = {3,4,6}

disjoint_stat = set1.isdisjoint(set2)
print("sets disjoint:",disjoint_stat)

sets disjoint: False

In [ ]:
# create a set of squares of nubmbers from 1 to 5
square_set = set()
for num in range(1,6):
    square = num ** 2
    square_set.add(square)

print(square_set)

In [ ]:
# filter out all even numbers from a ste.
sett = {1,2,3,4,5}
even_set = set()
for num in original set:
    if num % 2 == 0:
        even_set.add(num)

print("even number set:", even_set)

In [ ]:
# multiply all element in a set by 2.
sett = {2,35,6}
multiplied_set = set()
for num in sett:
    multiplied_num = num*2
    multiplied.set.add(multiplied_num)

print("multiplied set:", multiplied_set)

In [ ]:
# create set of random numbers.
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

In [ ]:
# check if a set is empty.

my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

In [ ]:
# create a nested set .
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

In [ ]:
# remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

In [ ]:
# compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

In [ ]:
# create a set from a string.
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

In [ ]:
# comvet a set of string to a set of integers.
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

In [ ]:
# convert a set of integers to a set of strings.
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

In [ ]:
# create a set from a tuple.
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)

In [ ]:
#j convet a set to a tuple,
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

In [ ]:
# find the max value in a set.
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

In [ ]:
# find the min value in a set.
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

In [ ]:
# create a set from user input.
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

In [ ]:
# check if the intersedtion of two sets is empty.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

In [ ]:
# create a set of the first 5 fibonaci numbers.
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set()

In [ ]:
# remove duplicates drom a list using sets.
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

In [ ]:
# check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

In [ ]:
# create a set of the first n powers of 2.
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

In [ ]:
# find the common elements between a set and a lsit.
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

In [ ]:
# create a set of the first n triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

In [ ]:
# check if a set contains another set as a subst.

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

In [ ]:
# create a set of alternating 1s and 0s of length n.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

In [ ]:
# merghe multiple sets into one.
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)